@import url('https://fonts.googleapis.com/css?family=Roboto');

#rightContent{
	background-color:white;
	padding: 15px 15px;
	position: absolute;
	z-index: 5;
	opacity: 0;
	pointer-events: none;	
	transition: opacity .5s;
	color: #222;
	font-size: 25px;
	font-weight: bold;
	font-family: 'Roboto', sans-serif;
	user-select: none;
	border-radius: 5px;
}

#rightContent:focus{
    outline: none;
}

#rightContent a{
	color: #222;
	display: block;
	font-size: 20px;
	font-weight: lighter;
	padding: 2px 8px;
	cursor: pointer;
	background-color: transparent;
	transition: .25s;
}

#rightContent a:hover{
	color: #222;
	display: block;
	font-size: 20px;
	font-weight: lighter;
	padding: 2px 8px;
	cursor: pointer;
	background-color: #999;
}

#rightContent a.disable{
	color: #555;
	display: block;
	font-size: 16px;
	font-weight: lighter;
	padding: 2px 8px;
	cursor: pointer;
}
