#rightContent{
	background-color:#ccc;
	border: 1px solid gray;
	padding: 8px 6px;
	position: absolute;
	z-index: 5;
	opacity: 0;
	pointer-events: none;	
	transition: opacity .5s;
}

#rightContent:focus{
    outline: none;
}