*{
	margin:1px;	
}

body{
	background-color: black
}

.unit{
	position: absolute;
	z-index: -5;
	transition: .25s;
	border: 1px solid gray;
	stroke:gray;
	stroke-width:3;
	stroke-opacity: 0.5;
}

.unit:hover{
	stroke-opacity:1;
	border-color: white;
	stroke:white;
	z-index: -4;
}